# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python


# Environments
.env
.venv
env/
venv/

# Others
*.txt
*.pdf
*.ini
*.swp
*.py.swo
src_ref
